/* assets/css/style.css */

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Title styles */
h1 {
  text-align: center;
}

/* Result styles */
#results {
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background-color: #fff; /* Add a background color if needed */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.result {
  margin-bottom: 10px;
}

/* Chart styles */
#chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  background-color: #fff; /* Add a background color if needed */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

canvas {
  max-width: 100%;
}

/* Last updated styles */
#last-updated {
  text-align: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 5px;
}

/* Fastest framework styles */
#fastest-framework {
  text-align: center;
  background-color: #e6ffe6;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  #results,
  #chart-container,
  #last-updated,
  #fastest-framework {
    padding-left: 10px;
    padding-right: 10px;
  }

  .result {
    padding: 10px;
    margin-bottom: 10px;
  }
}
